
<div class="container bg-light">
    <div class="starter-template">
        <h1>Kontak</h1>
        <br>
            Kanał na YouTube: Olo Technic [Polska]
            <p class="lead text-muted">
                <a href="https://www.youtube.com/channel/UCu_neYUp379F5MmaP5KQGqw">Olo Technic [Polska]</a>
            </p>
        <br>
           Kontak biznesowy: <p>olo007 (małpka) gmail.com</p>

        <br> 
            Rachunek bankowy dla darowizn : CC AAAA AAAA BBBB BBBB BBBB BBBB
            <p>Przekaż darowiznę na wspracie rozwoju nauki programowania.
                W zamian za darowiznę wyśle PDF'a do nauki wozrców projektowych (j. ang)
            </p>
        <br>
        Rachunek bankowy dla zakupu dostępu do kursów: CC AAAA AAAA BBBB BBBB BBBB BBBB
        <p>
            W tytule napisz twój e-mail na który wyślę kod dostępu.
        </p>
    </div>
</div>
