
<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
  <a class="navbar-brand" href="#"> | Olo How |</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
          <a class="nav-link" href="howlearn" [innerHTML]="'Menu_1' | translate"></a>
      </li>
      <li class="nav-item dropdown active" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="dropdown01" ngbDropdownToggle [innerHTML]="'Menu_2' | translate"></a>
        <div class="dropdown-menu" aria-labelledby="dropdown01" ngbDropdownMenu>
          <a class="dropdown-item" href="firststeps" [innerHTML]="'Menu_2_1' | translate"></a>
          <a class="dropdown-item" href="syntax" [innerHTML]="'Menu_2_2' | translate"></a>
          <a class="dropdown-item" href="highperform" [innerHTML]="'Menu_2_3' | translate"></a>
        </div>
      </li>

      <!-- <li class="nav-item active">
        <a class="nav-link" href="order" [innerHTML]="'Menu_3' | translate"></a>
      </li> -->

      <li class="nav-item active">
        <a class="nav-link" href="contact" [innerHTML]="'Menu_4' | translate"></a>
      </li>     
    </ul>

    <input type="button" class="btn btn-danger" value="EN" (click)="switchLanguage('en')">
    &nbsp;
    <input type="button" class="btn btn-danger" value="PL" (click)="switchLanguage('pl')"> 

  </div>
</nav>
