<div class="container bg-light">
        <div class="starter-template">
            <h1>Karty ćwiczeń .NET i C# (
                <i>CSharp</i>)</h1>
            <br>
                <p class="lead text-muted">
                Co zawierają karty ćwiczeń i jak je zamówić</p>
        </div>
    </div>
    
    <br>
    <div class="container bg-light">
            <div class="starter-template">
                    <h3 class="jumbotron-heading">Co zawierją karyty ćwiczeniowe</h3>
            </div>
        </div>
        <br>
    
    <div class="container"> 
            Karty ćwiczeniowe są w formacie PDF.<br> 
            Zawierają:<br>
            <div class="container">
                [1] Część opisowa zagadnienia<br>
                [2] pytania i odpowiedzi na rozmowę kwalifikacyjną<br>
                [3] zadanie do napisania w formie projektu/kodu oraz rozwiązanie<br> 
            </div><br>
            Przykładowa karta ćwiczeń:<br>
            <iframe src="https://docs.google.com/document/d/e/2PACX-1vSJBY6gayYBzh7QReRku0JxP0wSgUkblnz6zIcHGSerOOjJMuSD6ifpNygfWgDv_NchM7GUERWeWK9V/pub?embedded=true"
            width="800px" height="500px"></iframe>
    </div>
    <br>
    <div class="container bg-light">
            <div class="starter-template">
                    <h3 class="jumbotron-heading">Jak zamówić karyty ćwiczeniowe</h3>
            </div>
     </div>
        <br>
        <div class="container"> 
                Rachunek bankowy dla darowizn : CC AAAA AAAA BBBB BBBB BBBB BBBB
                <p>Przekaż darowiznę na wspracie rozwoju nauki programowania.
                    W zamian za darowiznę wyśle PDF'a do nauki wozrców projektowych (j. ang)
                </p>
            <br>
            Rachunek bankowy dla zakupu dostępu do kursów: CC AAAA AAAA BBBB BBBB BBBB BBBB
            <p>
                W tytule napisz twój e-mail na który wyślę kod dostępu.
            </p>
    
        
        </div>
        
