<div class="container bg-light">
    <div class="starter-template">
        <h1>Karty ćwiczeń .NET i C#</h1>
        <br>
        <p class="lead text-muted">
            Co zawierają karty ćwiczeń i jak je zamówić?</p>
    </div>
</div>

<br>
<div class="container bg-light">
    <div class="starter-template">
        <h3 class="jumbotron-heading">Co zawierają karty ćwiczeniowe?</h3>
    </div>
</div>
<br>

<div class="container">
    Karty ćwiczeniowe są w formacie PDF.
    <br> Zawierają:
    <br>
    <div class="container">
             [1] Część opisowa zagadnienia.
        <br> [2] Pytania i odpowiedzi na rozmowę kwalifikacyjną.
        <br> [3] Zadanie do napisania w formie projektu/kodu oraz rozwiązanie.
        <br>
    </div>
    <br>

    <div class="container bg-light">
        <div class="starter-template">
            <h3 class="jumbotron-heading">Przykładowa karta ćwiczeń</h3>
            <br>
            <iframe src="https://docs.google.com/document/d/e/2PACX-1vSJBY6gayYBzh7QReRku0JxP0wSgUkblnz6zIcHGSerOOjJMuSD6ifpNygfWgDv_NchM7GUERWeWK9V/pub?embedded=true"
                width="800px" height="500px"></iframe>
        </div>
    </div>
</div>
<br>
<div class="container bg-light">
    <div class="starter-template">
        <h3 class="jumbotron-heading">Jak zamówić karyty ćwiczeniowe?</h3>
    </div>
</div>
<br>
<div class="container">
    Zamówienie nie wymagania ani rejestracji ani logowania. Wystarczy wysłać przelew
    <b> w tytule wpisując adres email</b>, na który będą wysłane karty ćwiczeń oraz
    <b>nazwę kart ćwiczeń</b>, które chce się zamówić.
    <br> Przykładowy tytuł przelewu:
    <b> m.kowalski123@gmail.com, Składnia C#</b>
    <br>
    <br> Aktulnie dostępne są karty ćwiczeń:
    <br>
    <div class="container">      
        C# i .NET - podstawy: 30 zł
        C# i .NET - zaawansowane: 50 zł

        <br>
    </div>
    <br> Czas realziacji 24h od momentu zaksięgowania wpłaty.
    <br> Na email zostanie wysłany pakiet kart ćwiczeń.
    <br> Rachunek bankowy dla wpłat : CC AAAA AAAA BBBB BBBB BBBB BBBB
    <br> Wysłanie przelweu jest równoznaczne z akceptcją reagulaminu (link do regulaminu).



    <div class="card-deck mb-3 text-center">
            <div class="card mb-4 box-shadow">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">C# i .NET <br> podstawy</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">30 <small class="text-muted">PLN</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>N kart ćwiczeń</li>
                  <li>zakres</li>
                  <li>Email support</li>
                  <li>Help center access</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary">tytuł płatnści: <br> <b> twój email, C# podstawy</b> </button>

              </div>
            </div>
            <div class="card mb-4 box-shadow">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">C# i .NET <br> średniozaawansowane</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">40 <small class="text-muted">PLN</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>20 users included</li>
                  <li>10 GB of storage</li>
                  <li>Priority email support</li>
                  <li>Help center access</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button>
              </div>
            </div>
            <div class="card mb-4 box-shadow">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">C# i .NET <br> zaawansowane</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">50 <small class="text-muted">PLN</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>30 users included</li>
                  <li>15 GB of storage</li>
                  <li>Phone and email support</li>
                  <li>Help center access</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary">Contact us</button>
              </div>
            </div>
          </div>
    
          <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row">
              <div class="col-12 col-md">
                <img class="mb-2" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
                <small class="d-block mb-3 text-muted">© 2017-2018</small>
              </div>
              <div class="col-6 col-md">
                <h5>Features</h5>
                <ul class="list-unstyled text-small">
                  <li><a class="text-muted" href="#">Cool stuff</a></li>
                  <li><a class="text-muted" href="#">Random feature</a></li>
                  <li><a class="text-muted" href="#">Team feature</a></li>
                  <li><a class="text-muted" href="#">Stuff for developers</a></li>
                  <li><a class="text-muted" href="#">Another one</a></li>
                  <li><a class="text-muted" href="#">Last time</a></li>
                </ul>
              </div>
              <div class="col-6 col-md">
                <h5>Resources</h5>
                <ul class="list-unstyled text-small">
                  <li><a class="text-muted" href="#">Resource</a></li>
                  <li><a class="text-muted" href="#">Resource name</a></li>
                  <li><a class="text-muted" href="#">Another resource</a></li>
                  <li><a class="text-muted" href="#">Final resource</a></li>
                </ul>
              </div>
              <div class="col-6 col-md">
                <h5>About</h5>
                <ul class="list-unstyled text-small">
                  <li><a class="text-muted" href="#">Team</a></li>
                  <li><a class="text-muted" href="#">Locations</a></li>
                  <li><a class="text-muted" href="#">Privacy</a></li>
                  <li><a class="text-muted" href="#">Terms</a></li>
                </ul>
              </div>
            </div>
          </footer>
        
    
    
    


</div>



