<div class="container bg-light">
    <div class="starter-template">
        <h1>Karty ćwiczeń .NET i C#</h1>
        <br>
        <p class="lead text-muted">
            Co zawierają karty ćwiczeń i jak je zamówić?</p>
    </div>
</div>

<br>
<div class="container bg-light">
    <div class="starter-template">
        <h3 class="jumbotron-heading">Co zawierają karty ćwiczeniowe?</h3>
    </div>
</div>
<br>

<div class="container">
    Karty ćwiczeniowe są w formacie PDF.
    <br> Zawierają:
    <br>
    <div class="container">
        [1] Część opisowa zagadnienia.
        <br> [2] Pytania i odpowiedzi na rozmowę kwalifikacyjną.
        <br> [3] Zadanie do napisania w formie projektu/kodu oraz rozwiązanie.
        <br>
    </div>
    <br>

    <div class="container bg-light">
        <div class="starter-template">
            <h3 class="jumbotron-heading">Przykładowa karta ćwiczeń</h3>
            <br>
            <iframe src="https://docs.google.com/document/d/e/2PACX-1vSJBY6gayYBzh7QReRku0JxP0wSgUkblnz6zIcHGSerOOjJMuSD6ifpNygfWgDv_NchM7GUERWeWK9V/pub?embedded=true"
                width="800px" height="500px"></iframe>
        </div>
    </div>
</div>
<br>
<div class="container bg-light">
    <div class="starter-template">
        <h3 class="jumbotron-heading">Jak zamówić karyty ćwiczeniowe?</h3>
    </div>
</div>
<br>
<div class="container">
    Zamówienie nie wymagania ani rejestracji ani logowania.
    Wystarczy wysłać przelew <b> w tytule wpisując adres email</b>, na który będą wysłane karty ćwiczeń 
    oraz <b>nazwę  kart ćwiczeń</b>, które chce się zamówić. <br>
    Przykładowy tytuł przelewu: <b> m.kowalski123@gmail.com, Składnia C#</b>
    <br><br>

    Aktulnie dostępne są karty ćwiczeń:<br>
    <div class="container">
    
        Składnia C#: cena ?? zł
        <br> Wzore projektowe: cena ?? zł
        <br> ASP.NET MVC: cena ?? zł
        <br>
    </div><br>
    
    Czas realziacji 24h od momentu zaksięgowania wpłaty. <br> 
    Na email zostanie wysłany pakiet kart ćwiczeń.<br>

    Rachunek bankowy dla wpłat : CC AAAA AAAA BBBB BBBB BBBB BBBB <br>
    Wysłanie przelweu jest równoznaczne z akceptcją reagulaminu (link do regulaminu).


</div>