<div class="container">

    <div class="starter-template">
        <ngb-alert type="info" [dismissible]="false">
            <h3 [innerHTML]="'HADOOP_1' | translate"></h3>
            <p [innerHtml]="'HADOOP_2' | translate"></p>
            <br>
            <input type="button" class="btn btn-danger" value="\/ \/ \/ \/ ">
            <div>
            </div>
            <br>
        </ngb-alert>

        <br>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <div *ngFor="let lesson of lessonsSyntax | slice:0:6">
                            <div class="card-deck mb-2 text-center">
                                <div class="card mb-2 box-shadow">
                                    <div class="card-header">
                                        <h4 class="my-0 font-weight-normal" translate>{{lesson.title}}</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="card-deck mb-2 text-center">
                                            <div class="card mb-2 box-shadow" style="height:300px;">
                                                
                                            <div *ngIf="getCurrentLang() == 'pl'" class="container">
                                                <div class="youtube-player" width="100%" height="100%" (click)="addIframe(lesson.videoID)" [id]="lesson.videoID">
                                                    <img src="https://i.ytimg.com/vi/{{lesson.videoID}}/mqdefault.jpg">
                                                    <div class="play"></div>
                                                </div>
                                            </div>

                                            <div *ngIf="getCurrentLang() == 'en'" class="container">
                                                <div class="youtube-player" width="100%" height="100%" (click)="addIframe(lesson.videoID_EN)" [id]="lesson.videoID_EN">
                                                    <img src="https://i.ytimg.com/vi/{{lesson.videoID_EN}}/mqdefault.jpg">
                                                    <div class="play"></div>
                                                </div>
                                            </div>

                                            </div>
                                            <div class="card mb-2 box-shadow text-left">

                                                
                                                <div class="card-body">
                                                    <p [innerHTML]="lesson.videoDescription | translate"> </p>
                                                    <!-- <a target="_blank" href="orderhp" class="btn btn-danger" translate>Syntax_Order</a> -->
                                                </div>
                                                <div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <br>
            <br>  
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <h3 class="text-muted">by Olo How</h3>
    </footer> 

</div>