<div class="container">
    <div class="starter-template">
        <ngb-alert type="info" [dismissible]="false">
            <h3>
                <b>Programowanie w C#</b> - pierwsze kroki</h3>
            <p>
                <i> materiał przeznaczony dla początkujących osób, chcących rozpocząć swoją naukę prograowania w C# (CSharp)
                    <br> zawiera:
                    <b>materiały video </b> +
                    <b>testy ABC</b>
                </i>
            </p>
            <input type="button" class="btn btn-danger" value="Rozpocznij" (click)="changeValue()">
            <div>
            </div>
        </ngb-alert>
    </div>


    <div *ngIf="isVisible" class="container">

   <div *ngFor="let lesson of lessons">
  
        <div class="card-deck mb-2 text-center">
            <div class="card mb-2 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{lesson.title}}</h4>
                </div>
                <div class="card-body">
                    <div class="card-deck mb-2 text-center">
                        <div class="card mb-2 box-shadow" style="height:300px;">
                            <iframe width="100%" height="100%" frameborder="0"                             
                                    [src]="lesson.videoUrl" allowfullscreen></iframe>
                        </div>
                        <div class="card mb-2 box-shadow text-left">

                                <div class="card-body">
                                        <label><h4>Q: {{lesson.quiz.question}}</h4></label>
                                        <div *ngFor="let answer of lesson.quiz.answers">
                                            <label>
                                            <input type="radio" name="answer.value" [value]="answer.value" (click)="setUserAnswer(answer.isCorrect)" > 
                                                {{answer.display}}      
                                            </label>            
                                        </div>
                                       <font color = {{fontAnswer}}> {{userAnswer}} </font>
                                 </div>
                            
                            <!--<programowanie-c-pierwszy-krok>
                            </programowanie-c-pierwszy-krok> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- <div class="card-deck mb-2 text-center">
            <div class="card mb-2 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal"> Programowanie C# - pierwszy krok</h4>
                </div>
                <div class="card-body">
                    <div class="card-deck mb-2 text-center">
                        <div class="card mb-2 box-shadow" style="height:300px;">
                            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/3wHZQYyQ2is" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <div class="card mb-2 box-shadow text-left">
                            <programowanie-c-pierwszy-krok>
                            </programowanie-c-pierwszy-krok>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h2> debug aplikacji i przydatne klawisze F5, F10, F11</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/91GDnzrsZZg" frameborder="0" allowfullscreen></iframe>


        <h2>Metody i konstruktory</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/lLTzdYvEYNA" frameborder="0" allowfullscreen></iframe>
        <div>
            <exercise-video1></exercise-video1>
        </div> -->

    </div>

</div>