<div class="container">
    <div class="starter-template">
        <ngb-alert type="info" [dismissible]="false">
            <h3>Syntax C#</h3>
            <p>Some descriptions...</p>
            <input type="button" class="btn btn-danger" value="Get c.." (click)="changeValue()">
            <div>
            </div>
        </ngb-alert>
        <div *ngIf="isVisible">
            <h1>Składnia C#</h1>

            <h2> Programowanie C# - pierwszy krok</h2>            
            <iframe width="560" height="315" src="https://www.youtube.com/embed/3wHZQYyQ2is" frameborder="0" allowfullscreen></iframe>

            <h2> debug aplikacji i przydatne klawisze F5, F10, F11</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/91GDnzrsZZg" frameborder="0" allowfullscreen></iframe>


            <h2>Metody i konstruktory</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/lLTzdYvEYNA" frameborder="0" allowfullscreen></iframe>
            <div>                
            <exercise-video1></exercise-video1>          
            </div>
            
        </div>
    </div>
</div>