<div class="container">
        <br><br>
    <div class="starter-template">
        <ngb-alert type="info" [dismissible]="false">
            <h3>
                <b>Programowanie w C#</b> - pierwsze kroki</h3>
            <p>
                <i> materiał przeznaczony dla początkujących osób, chcących rozpocząć swoją naukę prograowania w C# (CSharp)
                    <br> zawiera:
                    <b>materiały video </b> +
                    <b>testy ABC</b>
                </i>
            </p>
            <input type="button" class="btn btn-danger" value="Rozpocznij" (click)="changeValue()">
            <div>
            </div>
        </ngb-alert>
    </div>


   <div *ngIf="isVisible" class="container">

   <div *ngFor="let lesson of lessons">
  
        <div class="card-deck mb-2 text-center">
            <div class="card mb-2 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{lesson.title}}</h4>
                </div>
                <div class="card-body">
                    <div class="card-deck mb-2 text-center">
                        <div class="card mb-2 box-shadow" style="height:300px;">
                            <iframe width="100%" height="100%" frameborder="0"                             
                                    [src]="lesson.videoUrl" allowfullscreen></iframe>
                        </div>
                        <div class="card mb-2 box-shadow text-left">

                                <div class="card-body">
                                    <form action="">
                                        <label><h4><p [innerHTML]="lesson.quiz.question"> </p> </h4></label>
                                        <div *ngFor="let answer of lesson.quiz.answers">
                                            <label>
                                            <input type="radio" name="answer.value" [value]="answer.value" 
                                            (click) ="answer.isCorrect?lesson.quiz.userAnswer='dobrze':lesson.quiz.userAnswer='źle';answer.isCorrect?lesson.quiz.fontAnswer='green':lesson.quiz.fontAnswer='red'" > 
                                                {{answer.display}}     
                                            </label>                                                      
                                        </div>
                                       <font color = {{lesson.quiz.fontAnswer}}> {{lesson.quiz.userAnswer}} </font>
                                    </form>
                                 </div>                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- <br><br>
    <div class="starter-template">
        <ngb-alert type="info" [dismissible]="false">
            <h3>
                <b>Składnia C#</b> - ćwiczenia</h3>
            <p>
                <i> materiał przeznaczony dla początkujących osób, chcących ćwiczyć swoje swoje umiejętności prograowania w C# (CSharp)
                    <br> zawiera:
                    <b>materiały video </b> + <b>karty ćwiczeń</b>  
                </i>
            </p>
            <input type="button" class="btn btn-danger" value="Rozpocznij" (click)="changeValueSyntax()">
            <div>
            </div>
        </ngb-alert>
    </div>

    <div *ngIf="isVisibleSyntax" class="container">

        <div *ngFor="let lesson of lessonsSyntax">
       
             <div class="card-deck mb-2 text-center">
                 <div class="card mb-2 box-shadow">
                     <div class="card-header">
                         <h4 class="my-0 font-weight-normal">{{lesson.title}}</h4>
                     </div>
                     <div class="card-body">
                         <div class="card-deck mb-2 text-center">
                             <div class="card mb-2 box-shadow" style="height:300px;">
                                 <iframe width="100%" height="100%" frameborder="0"                             
                                         [src]="lesson.videoUrl" allowfullscreen></iframe>
                             </div>
                             <div class="card mb-2 box-shadow text-left">
     
                                     <div class="card-body">                                      
                                         <p [innerHTML]="lesson.videoDescription"> </p>
                                         <a target="_blank"  href="order" class="btn btn-danger">Zamów kartę ćwiczeń</a>
                                        </div>
                                    <div>
                                    </div>         
                            </div>
                            
                         </div>
                     </div>
                 </div>
             </div>
         </div>
         </div> -->
         <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <h3 class="text-muted">by Olo How</h3>
        </footer>  
    
</div>