<div class="container bg-light">
  <div class="starter-template">
    <h3 class="jumbotron-heading">Regulamin</h3>
  </div>
</div>
<br>

<div class="container">
  <p class="lead"> Niniejszy Regulamin normuje zasady i warunki korzystania z serwisu internetowego www.olo007.com oraz warunki sprzedaży
    dostępnych w serwisie produktów.</p>

  <p class="lead">Każdy może przeglądać zasoby strony, jednak z chwilą zakupu materiałów szkoleniowych użytkownik oświadcza, że zapoznał
    się z Regulaminem oraz w pełni akceptuje zawarte w nim postanowienia i zobowiązuje się do ich przestrzegania.</p>

  <p class="lead">Zakup szkoleń jest w momencie wysłania przelewu z odpowiednim tytułem przelewu zawierający e-mail i nazwę materiału.</p>

  <p class="lead">Materiały szkoleniowe są dostępne w serwisie zapisane są w formacie PDF. Zawierają teksty i grafikę objęte prawami autorskimi.</p>

  <p class="lead">Nabywca materiału szkoleniowego ma prawo do przechowywania go na twardym dysku swojego komputera oraz innych nośnikach
    elektronicznych w celu zapoznania się z treścią utworu. Nabywca może utwór wydrukować, ale tylko na własne potrzeby.</p>

  <p class="lead">Nabywca nie ma prawa do kopiowania i rozpowszechniania materiałów szkoleniowych w sposób naruszający prawa autorskie wydawcy.</p>

  <p class="lead">Wszelkie materiały szkoleniowe udostępniane w serwisie www.olo007.com podlegają ochronie przewidzianej w ustawie o prawie
    autorskim i prawach pokrewnych (Dz.U. 1994 Nr 24 poz. 83).</p>

  <p class="lead">WARUNKI SPRZEDAŻY</p>

  <p class="lead">Warunkiem zakupu materiału szkoleniowego jest wysłanie przelewu z podaniem aktualnego adresu mailowego i nazwy zamawianego
    materiału w tytule przelewu.</p>

  <p class="lead">W ciągu 24h od zaksięgowaniu płatności wysłany zostanie metariał szkoleniowy na podany adres e-mail w tytule przelewu.</p>

  <br>
  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <h3 class="text-muted">by Olo007.com</h3>
  </footer>
</div>