<div class="container bg-light">
  <div class="starter-template">
    <h3 class="jumbotron-heading">Regulamin</h3>
  </div>
</div>
<br>

<!-- to do definiecje  -->


<div class="container">
  <p class="lead"><b>DEFINICJE</b></p>
  <p class="lead">Regulamin -  niniejszy regulamin.</p>
  <p class="lead">Portal - www.olo.how.</p>
  <p class="lead">Kupujący - osoba fizyczna, osoba prawna lub jednostka organizacyjna nie posiadająca osobowości prawnej a posiadająca zdolność do czynności prawnych, która na zasadach określonych w niniejszym regulaminie dokonuje Zakupu w Portalu.
  </p>
  <p class="lead">Sprzedający - portal www.olo.how.</p>
  <p class="lead">Materiał edukacyjny - materiały edukacyjne sprzedawane na portalu w formie elektronicznej. </p>
  <p class="lead">Nazwa materiału edukacyjnego - unikalna nazwa materiału edukacyjnego sprzedawane na portalu w formie elektronicznej.</p>
  
  <p class="lead"><b>ZASADY OGÓLNE</b></p>
  <p class="lead"> Niniejszy Regulamin normuje zasady i warunki korzystania z Portalu www.olo.how oraz warunki sprzedaży
    dostępnych na Portalu Materiałów edukacyjnych.</p>

  <p class="lead">Każdy może przeglądać zasoby strony, jednak z chwilą zakupu  Materiałów edukacyjnych Kupujący oświadcza, że zapoznał
    się z Regulaminem oraz w pełni akceptuje zawarte w nim postanowienia i zobowiązuje się do ich przestrzegania.</p>

  <p class="lead">Zakup Materiałów edukacyjnych jest w momencie wysłania przelewu z odpowiednim tytułem przelewu zawierający adres e-mail i Nazwę materiału edukacyjnego.</p>

  <p class="lead">Materiały edukacyjne są dostępne na Portalu w formacie PDF. Zawierają teksty i grafikę objęte prawami autorskimi.</p>

  <p class="lead">Kupujący materiał edukacyjny ma prawo do przechowywania go na twardym dysku swojego komputera oraz innych nośnikach
    elektronicznych w celu zapoznania się z treścią utworu. Nabywca może utwór wydrukować, ale tylko na własne potrzeby.</p>

  <p class="lead">Nabywca nie ma prawa do kopiowania i rozpowszechniania materiałów szkoleniowych w sposób naruszający prawa autorskie wydawcy.</p>

  <p class="lead">Wszelkie materiały szkoleniowe udostępniane na Portalu www.olo.how podlegają ochronie przewidzianej w ustawie o prawie
    autorskim i prawach pokrewnych (Dz.U. 1994 Nr 24 poz. 83).</p>



 

  <p class="lead"><b>WARUNKI SPRZEDAŻY</b></p>

  <p class="lead">Warunkiem zakupu materiału edukacyjnego jest wysłanie przelewu z podaniem aktualnego adresu e-mail i nazwy zamawianego
    materiału edukacyjnego w tytule przelewu.</p>

  <p class="lead">W ciągu 24h od zaksięgowaniu płatności wysłany zostanie metariał edukacyjny na podany adres e-mail w tytule przelewu.</p>


  <p class="lead"><b>ZAKRES PRZETWARZANIA DANYCH OSOBOWYCH</b></p>
  <p class="lead">Kupujący materiały edukacyjne nie ma obowiązku podać danych osobowych.
    Jedynie w celu realizacji zakupu kupujący podaje e-mail, na który będzie wysłny zakupiony materiał edukacyjny.
    Podany e-mail będzie wykorzystany tylko do wysłania materiałów edukacynych lub komuniakcji w związku
    z obsługą realizacji zakupu. W przypadku, gdy  adres e-mail jest
    tak skonstruwaony, że zawiera imię i nazwisko kupującego to kupujący oświadcza, że wyraża zgodę
    na przetwarzanie jego danych sobowch w zakresie:  
  </p>
  <p class="lead">
    [1] Wysyłki na ten e-mail zakupionego materiału edukacyjnego.
    <p>
  <p class="lead">
    [2] Wykorzystanie adrsu e-mail do obsługi sprzedaży związanej z zakupem.
  </p>
  <p class="lead">Kupujący ma prawo zarządać usunięcia jego e-mailu ze skrzynki pocztowej sprzedającego.</p>
  <p class="lead">  Portal www.olo.how szanuje prawo Kupujących do prywatności,
    dlatego nie udostępnia osobom trzecim jakichkolwiek danych przekazywanych www.olo.how przez kupującego.
  </p>
  <p class="lead">  Wyjątek stanowi sytuacja, gdy obowiązek ujawnienia tych danych będzie spoczywał na www.olo.how z mocy
    obowiązującego prawa.
 </p>


 <p class="lead"><b>POSTANOWIENIA KOŃCOWE</b></p>
 <p class="lead">    Portal www.olo.how zastrzega sobie prawo do zmiany postanowień niniejszego Regulaminu, w szczególności w wypadku
  modyfikacji zakresu świadczonych usług lub sposobu ich świadczenia, wprowadzenia ulepszeń w zakresie
   sposobu komunikacji z Kupującymi za pomocą Portalu, mogących wpłynąć na sposób korzystania
    z Portalu przez Kupującego lub na sposób wykonywania usług.
 </p>
 <p class="lead"></p>
 

  <br>
  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <h3 class="text-muted">by olo.how</h3>
  </footer>
</div>