
 <div class="container">
  <div class="starter-template">
      <h1>Jak się uczyć .NET'a i C#'a</h1>
      <p class="lead">
          Tutaj powstanie artykuł jak sie uczyć programowania...</p>
      <h3>Jak się uczyć programowania?</h3>      
      Jeśli trafiłęś na tą stronę to zakładam, że jesteś osobą zainteresowaną nauką .NET i C#'a. Dlatego 
      w tym materiale będę chciał opowiedzieć jak uczyć się w taki sposób aby szybko zostać
      profesjonalnym programistą (rozpocząć pracę jako programista).
      
      <div>Najpierw spróbujmy określić co zdecyduje o tym, że będzisz programistą. To pozwoli tobie kłaść           
      nacisk na sprawy istotne.
      </div>
      Do wyboru masz kilka możliści lub miks tych możliwości:
      1. Studia informtyczne
      2. Stacjonarny kurs programowania
      3. Indywidualna nauka
      4. Praktyka w firmie

      Hmmm... jest tego trochę. No i teraz co wybrać? Bo przecieć każda decyzja to koszt 
      finansowy i czasowy. Dlatego przedstawię tobie mój pomysł, który wg mojej subiektywnej opinni 
      jest najbardziej efektywna i może ci pomóc wejść w zawód programisty.
      
      Na początku odrzucę punkt związany z studiami informatycznymi. W Polsce mamy taki pogląd
      że posiadanie wykrztałcenia wyższego jest pewnym obowiązkiem, być może tak jest w pewnych zawodach.
      Jednak jeśli chodzi o programwanie to nie są wymagane. Bardzo rzadko firmy stawiają wymóg
      posiadania wyksztacenia wyższego zatrudniając programistę. A o kwalifikacji kandydata do pracy 
      decyduje poziom jego wiedy technicznje na temat danej technologii. Dodatkowo studia trwają kilka dobrych lat
      na których uczyone są rzeczy nie koniecznie przydatne do bycia programistą. Dlatego jeśli twoim 
      celem jest dostać pracę młodszego programisty za 1.5 do 2 lat od rozpoczęcia intensywnej nauki
      to studia będą ci nie po drodze.
      
      Następnie dużo jest stacjonarnych kursów pogramwania, które obiecują że zrobią z każdego progamstę 
      średnio w około 1 misiąc.
      Koszt takiego kursu waha się w granicach od 3 000 zł do 10 000 zł. Taki kurs to dobra sprawa, gdyż daje 
      możliwość poznania aspektów programowania w dość intenswnym trybie. Ale uwaga grzechem tych firm jest to,
      że obiecują, że zrobią z każdego programistę w 1 miesiąc. Przez to wypaczają podgląd i spsoób podejścia 
      kursantów do sprawy (no ale takie są zasady każdej reklamy). Taki kursant ma fałszywą obietnicę że 
      zapłacenie i odbycie kursu daje mu bilet do 
      pracy profesionalnego programisty - co jest nieprawdą. Gdyż kurs o tym nie zdecyduje.
      No dobrze to co w takim razie decyduje o tym czy uda mi się zostać programistą? Dobre pytanie, na które 
      trzeba dobrze odpowiedzieć jeśli chcę dostać się do tego zawodu. Dlatego spróbujmy to naświetlić tak 
      jak ta spraw wygląda.
      Przedewsytskim nauka programowania jest procesem dość żmudnym zwłaszcza na początku. Dlatgo nie 
      obejdzie się bez samodzielnej nauki. Należy postarać się aby jakość i intensywność tej nauki był 
      wysoka gdyż właśnie ten aspekt będzie najbardie decydujący. Materiały i nażędzia do nauki są dostępne w Internecie
      za darmo lub odpłanie, jednak koszt ich jest stosunkowo nie wielki porównując koszty z kursem stacjonarnym
      lub studiami. Cała nauka indywidulana może być w miejscu w którym się znajdujesz i dzięki temu odchodzą koszty
      czasowe i finansowe związane z dojazdami lub przebywaniem w innej miejscowości. Na chwilę obecną nie ma takiej 
      technologii aby wiedzę wgrać bezpośrednio do głowy, dlatego wysiłek związany z indywidualną nauką cię nie ominie,
      jednak możesz sobie umilać naukę pijąc dobrą kawę :) lub wybierając się na jakiś kurs lub 
      darmowy programistyczny event gdzie można posłuchać o sprawach technicznych i pogdać z ludźmi z branży.

      Indywidualna nauka to już jest dużo, jednka należy do tego dodać coś jeszcze (zrobić miks). To coś jeszcze
      to praca blisko kogoś kto jest doświadczonym programistą. I tutaj można to osiągnąć poprzez dostanie się 
      na praktykę, gdzie będziemy mieli możliwość pracować blisko programostów. Taka praktyka daje zrozumienie 
      pewnych praktycznych aspektów programowania, których nie da nam indywidualna nauka.

      Podsumowując jeśli mierzymy w to aby w niedługim czasie zostać profesionalnym programistą to zdecyduje o tym 
      indywidaulna nauka plus paromiesięczna praktyka u boku doświadczonego programisty. Studia lub kursy moga być
      tylko dodatkiem do wyżej opisaych aspektów. 
      
      
      <h3>Czego się uczyć, jak i gdzie?</h3>
      Jeśli już zdecydujemy się na samodzielną naukę to powinniśmy określić:
      1-czego się uczyć
      2-jak się uczyć 
      3-jakie wybrać materiały
      Czego się uczyć? Odpowiedź jest .NET i C# hmmm.. ale to nie wystarczająca odpowiedź.
      Przecieć gdy zaczniemy pracę to sama znajomość C# nie wystarczy, gdyż aplikacje
      korporacyjne są złożone z różnych komponentów, praca nad rozwojem apliakacji też
      nie odbywa się w próżni a w jakimś środowisku gdzie obowiązują pewne zasady i narzędzia.
      Spróbujmy określić to czego należy nauczyć się jako podstawowe minimum aby poradzić na 
      rozmowie kwalifikacyjnej i w pierwszych miesiącach pracy. Naukę powinno się zaplanować
      kilko torowo aby pokryć następujące obszary:
      1-składnia języka c# (C-Sharp)
      2-główne bibliteki .NET 
      3-podstawy pracy z bazami danych (MS SQL Server lub Oracle)
      4-narzędzie do pracy z kodem GIT lub SVN
      opanowanie ww. zagadnień są podstawą do rozpoczęcie pracy. Dodatkowo warto je rozszerzyc o 
      zagadnienia frontendowe czyli JavaScript, jQuery lub AnguarJS gdyż coraz wicej apliakacji
      korporacyjncyh tworzy się w technologii webowej. 


      <h3>Podejście do praktyki i rekrutacji</h3>
        Po roku intensywnej nauki należałoby postarać się o praktykę w firmie. Dobrze jest
        trafić do projektu gdzie będziemy mieli szansę pisać kod pod nadzorem doświadczoncyh programistów.
        Jednak z tym bywa różnie często zdarza się tak, że dostajemy zadanie nie związane z programowaniem
        np. testowanie. dlatego warto pytać na spotkaniu kwalifikacyjnym o nasze przyszłe zadania i 
        możliwości rozwoju. Pamiętajmy rozój polega na zdobywaniu nowcych doświadczeń, które w przyszłości
        powinny nam dać szanse na lepiej płatną pracę.
        Również praktyka nie oznacza że przestajemy uczyć się indywidualnie po godzinach.
        Uczyć się trzeba cały czas czy to mając praktykę czy pracując w zawodzie. Taki jest zawód programisty,
        rozwiązania i technologie zmieniają się i należy za tym nadążyć bo w przeciwnym razie
        z czasem będzie ciężko o dobrze płatną pracę. 
         


      ...
      Treść jest napisana w oparciu o moje subiektywne doświadczenia.
      Olo



      --podsumwwanie w procentach 70, 30
      
      

      --plan nauki
      --ang

      --ja nazywam sie Olo

      

  </div>
</div> 

